@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
/*Connections in Actions Lineup*/
.tab-method{
	display: none;
}
	.footer-text-p{
		font-size: 18px;
	}
.sub-slogan{
	display: block;
    font-size: 17px;
    letter-spacing: 0.015em;
    font-weight: normal;
    margin: 0 0 0 0;
    padding-top: 10px;
    text-transform: none;
    line-height: 1em;
}

.audience{
	border-bottom: 2px dashed #999;
    text-decoration: none;
}
#mainLogo{
	display: inline;
	float: left;
	margin-left: 10px;
	position: relative;
	top: 70%;
	-ms-transform: translateY(50%); /* IE 9 */
    -webkit-transform: translateY(50%); /* Chrome, Safari, Opera */
    transform: translateY(50%);

}
#site-name a, #site-name a:hover, #site-name a, #site-name a:focus, #site-title-first-line a, #site-title-first-line a:hover, #site-title-first-line a:focus, #site-title-second-line a, #site-title-second-line a:hover, #site-title-second-line a:focus {
    color: #3f3c30;
    text-decoration: none;
}
#name-and-slogan {
    padding: 0;
    vertical-align: bottom;
    height: auto;
    width: 100%;
    padding-left: 10px;
    display: table-cell;
}
#site-slogan {
    font-size: 16px;
    color: #3f3c30;
    line-height: 1.2em;
    font-style: italic;
    margin-bottom: -3px;
    margin-top: 6px;
}
.two-lines #site-name, .two-lines #site-title-first-line, .two-lines #site-title-second-line {
    font-size: 33px;
   	padding-top: 5px;
    letter-spacing: 0;
    line-height: 1.15em;
}
#site-name, #site-title-first-line {
    margin-bottom: -6px;
    margin-top: -6px;
    color: #3f3c30;
}
.site-name{
	font-family: 'Source Sans Pro',sans-serif !important;
}
#logo img{
	max-width: 140px;
}
#logo{
	padding: 0 10px 0 0;
	display: table-cell;
    vertical-align: bottom;
    margin: 0;
    float: left;
    border-right: 1px solid #2E2D29;
}

hr{
	border-width: 2px;
}
.text-version{
	text-decoration: underline;
}
.below-popup hr{
	border-width: 3px;
	border-color: black;
	margin: 4px;
}
.below-popup{

	padding: 10px;
	text-align: left;
	font-size: 18px;
	position:fixed; 
	overflow:hidden; 
		width: 240px;
	height: 250px;
	background-image: url("../img/model_tooltip_bubble.png");
	z-index: 200;

}
.below-popup ul{
	list-style-type: none;
	list-style: none;
	padding-left: 0;
	margin-top: 52px;
	margin-left: 22px;
	background-size: contain;
}
.below-popup li{
	color: white;
}
.mobile-mission-text{
	font-size: 18px;
}
#mission-graphic-section{
	background-image: url("../img/mission_background.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 41.66vw;
}
#mission-mobile{
	display: none;
}
.more-caption-holder{
	color: white;
}
.image-surround{
	display: inline-block;
	position: relative;
}
#pursue-caption{
	background-image: url("../img/icons/model_bubble_ltgreen.png");
}
#design-caption{
	background-image: url("../img/icons/model_bubble_dkgreen.png");
}
#venture-caption{
	background-image: url("../img/icons/model_bubble_teal.png");
}
#connect-caption{
	background-image: url("../img/icons/model_bubble_yellow.png");
}
.more-caption-holder{
	margin-top: 82px;
	margin-left: 82px;
	width: 70%;
	text-align: left;
}
.more{ 
	/*border: 1px solid #444;*/
	position:absolute; 
	overflow:hidden; 
	margin-left: 10px;
	margin-right: 10px;
    display:inline-block;
    height: 130px;
	width: 130px;
	line-height: 130px;
	-moz-border-radius: 50%; /* or 50% */
	border-radius: 50%; /* or 50% */
	border-width: 2px;
	border-color: black;
	background-color: transparent;
	color: black;
	text-align: justify;
	font-size: 1.5em;
}
.more-caption{
	position:absolute; 
	width: 500px;
	height: 220px;
	display:inline-block;
	overflow:hidden; 
	padding: 0px; 
	z-index: 50;
}
.more span{ position:absolute; left:60px; width:160px; padding:15px 0 0 5px; color:#FFF; font:bold 13px Lucida Grande, Arial, sans-serif; text-shadow:#000 1px 1px 0px; }
#pursue{ 
	top:200px; 
	left:10px;
}
#pursue-caption{ 
	top:150px; 
	left:122px;
}
#design{ 
	top:10px; 
	left:117px;
}
#design-caption{ 
	top:-40px; 
	left:230px;
}
#venture{ 
	top:200px; 
	left:230px;
}
#venture-caption{ 
	top:150px; 
	left:343px;
}
#connect-circle{ 
	top:128px; 
	left:117px;
}
#connect-caption{ 
	top:55px; 
	left:250px;
}
#mission-audio-player{
	/*margin-top: 10px;*/
}
@media (max-width: 1033px){
	.sub-slogan{
	display: none;
}
	#site-name a, #site-name a:hover, #site-name a, #site-name a:focus, #site-title-first-line a, #site-title-first-line a:hover, #site-title-first-line a:focus, #site-title-second-line a, #site-title-second-line a:hover, #site-title-second-line a:focus {
    color: #3f3c30;
    text-decoration: none;
}
#mainLogo{
	display: inline;
	float: left;
	margin-left: 5px;
	position: relative;
	top: 70%;
	-ms-transform: translateY(160%); /* IE 9 */
    -webkit-transform: translateY(160%); /* Chrome, Safari, Opera */
    transform: translateY(160%);

}
#name-and-slogan {
    padding: 0;
    vertical-align: bottom;
    height: auto;
    width: 100%;
    padding-left: 5px;
    display: table-cell;
}
#site-slogan {
    font-size: 10px;
    color: #3f3c30;
    line-height: 1.2em;
    font-style: italic;
    margin-bottom: -3px;
    margin-top: 6px;
}
.two-lines #site-name, .two-lines #site-title-first-line, .two-lines #site-title-second-line {
    margin-top: 3px;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 1.15em;
}
#site-name, #site-title-first-line {
    margin-bottom: -6px;
    margin-top: -6px;
    color: #3f3c30;
}
.site-name{
	font-family: 'Source Sans Pro',sans-serif !important;
}
#logo img{
	max-width: 80px;
}
#logo{
	padding: 0 5px 0 0;
	display: table-cell;
    vertical-align: bottom;
    margin: 0;
    float: left;
    border-right: 1px solid #2E2D29;
}
}
@media (min-width: 1000px) and (max-width: 1026px) {

#mainLogo{
	display: inline;
	float: left;
	margin-left: 10px;
	position: relative;
	top: 70%;
	-ms-transform: translateY(200%); /* IE 9 */
    -webkit-transform: translateY(200%); /* Chrome, Safari, Opera */
    transform: translateY(215%);

}
}
@media (min-width: 768px){
.video-overlay-left {
    width: 750px;
    
}
}
@media (min-width: 992px){

.video-overlay-left {
    width: 970px;
    padding-left: 30px;
}
}
@media (min-width: 1200px){
.video-overlay-left {
    width: 1170px;
    padding-left: calc(30px + .083333 * 100vw);
}
}

.thick{
	font-weight: bold;
}

.twitter-holder{
	margin-top: 20px;
}
.video-overlay-left {
    /*padding-right: 15px;
    padding-left: 15px;*/
    margin-right: auto;
    margin-left: auto;
}

/*-----*/





#footer{
	color: white;
}
.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
}
.left-mission{
	height: 41.66vw;
}
.vcenter{
	display: inline-block;
    vertical-align: middle;
    float: none;

}

.graphic-container, #mission-text, .mission-parent{
	height: 100%;
}

ul{
	display: block;
}
li{
	line-height: 20px;
}
p.vcard {
    font-size: 13px;
}
#name-container{
	padding-top: 80px;
	padding-bottom: 80px;
}
#connect{
	padding-top: 90px;
	padding-bottom: 90px;
}
#value{
	padding-top: 80px;
	padding-bottom: 80px;
}
.value-container{
	width: 120px;
	margin-left: 2.7vw;
	margin-right: 2.7vw;
	display: inline-block;
}
.title-text td{
	vertical-align: baseline;
}
.anchor{
	height: 0px;
}
table{
	margin: 0 auto;
}
#model{
	background-color: #f1f1f1;
	padding-top: 70px;
	padding-bottom: 100px;
}
#vision{
	padding-top: 10px;
	padding-bottom: 140px;
}
#mission{
	background-image: url("../img/mission_background.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 41.66vw;
    min-height: 250px;
}
.value-icon{
	width: 100px;
}
.footer-image{
	height: 70px;
	-webkit-transform: translateY(-10%);
  	-ms-transform: translateY(-10%);
  	transform: translateY(-10%);
}
.navbar-default{
	background-color: #fff;
	border: none;
}
a {
    color: #736C51;
}
.top-image{
	height: 56.25vw;
	width: 100vw;
	margin-top: 10px;
	margin-bottom: 10px;
}
.main-image{
	height: 37vw;
	width: 100vw;
	margin-top: 10px;
	margin-bottom: 10px;
}
#brand-launch h1{
	margin-top: 0px;
}
.more-link, a.more-link, .page-search .node-readmore a {
    display: inline-block;
    clear: both;
    line-height: 1.4em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: .02em;
    font-weight: 600;
    font-size: 12px;
}
#block-bean-vpsa-student-affairs-block div.summary {
    padding-top: 5px;
}
#pre-footer h2 {
    font-family: "Source Sans Pro",Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin: 0 0 0.8em 2px;
    padding-top: 10px !important;
}
.summary{
	margin-bottom: 15px;
	font-size: 22px;
	line-height: 1.4em;
}
strong{
	font-weight: 600;
}
#bgvid{
	position: absolute;
}


#video-overlay{
	position: relative; 
	text-align: left;
	background-color: rgba(255,255,255,0.5);
}
.video-overlay-left-text{
	float: left;
}
.video-overlay-left-button{
	margin-left: 10px;
	margin-top: 6px;
	background: none;
	padding: 0px;
	border: none;
}
.video-overlay-left-button img{
		height: 72px;
}
.video-overlay-left{
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
.sub-title-top{
	margin-top: 0px;
	margin-right: 2px;
}
.title-top{
	font-size: 52px;
	margin-top: 15px;
	margin-bottom: 5px;
}
.sub-title-bottom{
	font-size: 52px;
	margin-top: 0px;
	margin-bottom: 30px;
}
.sub-title-bottom-connect{
	font-size: 52px;
	margin-top: 0px;
	margin-bottom: 10px;
}
.launchpage-button{
	border-radius: 5px;
	background-color: transparent;
	border-color: black;
	font-size: 17px;
}
.launchpage-blue-button{
	border-radius: 5px;
	background-color: #007C92;
	border-color: white;
	border-style: solid;
	margin-bottom: 20px;
	font-size: 26px;
}
.row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.564102564102564%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.hfooter{
	margin-top: 0px;
}
#pre-footer{
	background-color: #f2f1eb;
	padding-top: 40px;
	padding-bottom: 50px;
}
#pre-footer .block{
	font-size: 12px;
}
#pre-footer h2{
	font-weight: 600;
	font-family: "Source Sans Pro",Arial,Helvetica,sans-serif;
    font-size: 13px;
    margin: 0 0 0.8em 2px;
    padding-top: 10px;
    padding: 0;
    text-transform: uppercase;
    color: #820000;
}
#global-footer{
	font-family: "Source Sans Pro",Arial,Helvetica,sans-serif !important;
	height: 90px;
    background-color: #8c1515;
    color: #e3dfd5 !important;
    font-size: 15px !important;
    line-height: 1em !important;
    font-weight: 400 !important;
    padding: 30px 0 90px 0;
    /*margin-bottom: 30px;*/
    width: auto;
    -webkit-box-shadow: inset 0px 4px 8px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0px 4px 8px -2px rgba(0,0,0,0.2);
    box-shadow: inset 0px 4px 8px -2px rgba(0,0,0,0.2);
}
.vcard .copyright-links a{
	margin-left: 17px;
	color: rgb(227, 223, 213) !important;
}
.vcard span{
	font-weight: normal;
}
#global-footer img{
	width: 105px;
    height: 49px;
    float: left;
    margin-right: 130px;
}
#global-footer li{
	list-style: none;
	display: inline;
	margin-right: 17px;
}
#bottom-menu a{
	color: #e3dfd5;
	font-weight: 400;
}
#countbox1{
	margin-top: 60px;
	text-align: center;
}
.social-media img{
	width: 75px;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
}

#footer{
	background-color: #007C92;
	padding-top: 60px;
	padding-bottom: 60px;
}
.display-img{
	width: 100%;
	max-width: 400px;
}
body{
	font-family:'Source Sans Pro', sans-serif;
	max-width: 100%;
	letter-spacing: 0.01em;
	line-height: 1.4em;
}

#menu-primary-navigation{
	margin-right: 10px;
}
	


#aboveHeader{
	background-color: #8C1515;
	position: absolute;
	width: 100%;
}

.paragraph-text{
	font-size: 20px;
	margin-top: 0px;
	text-align: center;
	margin-bottom: 20px;
}

.paragraph-mission-text{
	font-size: 20px;
	text-align: left;
	margin-top: 0px;
}


#aboveHeader img{
	height: 22px;
	margin-left: 20px;
}

.bg-light-gray{
	background-color: #F1F1F1;
}
.header-hold{
	padding-top: 23px;
}

body{
	padding-top: 73px;
}
img.scroll-down{
	height: 50px;
	width: 50px;
}
a.anchor{
		display: block; 
		position: relative; 
		top: -53px; 
		visibility: hidden;
	}
	#video-controls{
		visibility: hidden;
	}
	.numberCircle {
		box-shadow: 0 0 0 3px white;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 5px;
    	display:inline-block;
    	height: 80px;
	    width: 80px;
	    line-height: 80px;
	    -moz-border-radius: 40px; /* or 50% */
	    border-radius: 40px; /* or 50% */
	    border-width: 2px;
	    border-color: black;
	    background-color: #007C92;
	    color: white;
	    text-align: center;
	    font-size: 2em;
	}
	.row-fluid .span4{
		width: 30%;
	}
	.row-fluid [class*="span"]{
		display: block;
    	float: left;
    	min-height: 30px;
    	margin-left: 2.564102564102564%;
    	-webkit-box-sizing: border-box;
    	-moz-box-sizing: border-box;
    	box-sizing: border-box;
	}
	footer{
		background-color: #8C1515;
		color: #FBFBF9;
	}
	.footer{
		background-color: #8C1515;
		color: #333;
	}
	.field .field-label {
    	font-weight: 600;
    	float: left;
	}
	#block-bean-vpsa-helpful-links-footer-block .field-type-link-field div a.more-link{
    	font-weight: normal;
    	text-transform: none;
    	font-size: 1.0em;
    	border-bottom: dotted 1px #827252;
    	margin: 0px;
    	line-height: 1.4em;
    	color: #736C51;
	}
	.footer-text{
		text-align: center;
	}
	.lefttext{
		list-style-type: none;
		padding: 0px;
	}
	.countdown-table{
		margin-left: auto;
		margin-right: auto;
	}
	.graphic-caption-footer{
		width: 100vw;
	}

/* Media Query */
@media (min-width:769px) and (max-width: 1000px){
	.social-media img{
		margin-right: 20px;
		margin-left: 20px;
		width: 75px;
	}
}
/* Smartphones; (portrait and landscape) ----------- */
/*@media only screen and (min-device-width : 769px) and (max-device-width : 1000px) {
	.social-media img{
		margin-right: 10px;
		margin-left: 10px;
		width: 50px;
	}
}*/

@media (max-width: 1000px){
	.footer-image{
		height: 38px;
		-webkit-transform: translateY(36%);
	  	-ms-transform: translateY(36%);
	  	transform: translateY(36%);
	}
	.navbar-brand,
	.navbar-nav li a {
	    line-height: 45px;
	    height: 45px;
	    padding-top: 0;
	}
	.value-container{
		width: 105px;
		margin-left: 1.8vw;
		margin-right: 1.8vw;
		display: inline-block;
	}
	.value-container h3{
		font-size: 20px;

	}
	.value-icon{
		width: 85px;
	}
}

@media (max-width: 767px){
	.tab-method{
		display: block;
	}
	.image-surround{
		display: none;
	}
	.more{
		display: none;
	}
	#global-footer img{
		margin-right: 0px;
		display: inline;
		float: none;
	}
	#copyright {
    	margin-top: 0;
    	margin-bottom: 15px;
	}
	#global-footer li{
		display: list-item;
	}
	#bottom-menu {
    	display: block;
    	float: left;
    	width: 49%;
    	margin-right: 0;
	}
	#bottom-menu ul {
    	margin-bottom: 25px;
	}
	#bottom-menu ul li {
    	float: none;
	}
	#copyright .copyright-links {
    	display: block;
    	margin-left: 0;
	}
	#global-footer {
	    margin: 0px;
	    padding-bottom: 10px;
	    width: auto;
	    height: auto;
	}	
	#footer-content .block {
	    width: 100%;
	}
	p.vcard {
    	margin: 0;
    	padding: 0;
    	text-align: center;
	}
	#bottom-logo {
	    display: block;
	    float: left;
	    width: 49%;
	    margin-right: 2%;
	    padding-top: 30px;
	    text-align: center;
	}
	/*.row, .thumbnails {
    	margin-left: 0;
	}*/
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  	#video-overlay{
		display: none;
	}

}

	
@media (min-width:320px) and (max-width: 768px){
	#mission-mobile{
		display: block;
	}
	#mission{
		display: none;
	}
	.display-img{
		margin-bottom: 30px;
	}
	.value-container p{
		margin-bottom: 20px;
	}
	.sub-title-bottom{
		font-size: 40px;
		text-align: center;
	}
	.paragraph-mission-text, .paragraph-text{
		font-size: 18px;
		text-align: center;
	}

	#countbox1{
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
	}
	.social-media img{
		margin-right: 10px;
		margin-left: 10px;
		width: 50px;
	}

	#countbox1{
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
	}
	.numberCircle {
		margin-left: 10px;
		margin-right: 10px;
    	display:inline-block;
    	height: 50px;
	    width: 50px;
	    line-height: 50px;

	    -moz-border-radius: 30px; /* or 50% */
	    border-radius: 30px; /* or 50% */
	    border-width: 2px;
	    border-color: black;
	    background-color: white;
	    color: black;
	    text-align: center;
	    font-size: 1.5em;
	}
	.footer-image{
	}
	.launchpage-button{
		margin-bottom: 10px;
	}
	.social-media img{
		margin-right: 5px;
		margin-left: 5px;
		width: 55px;
	}
	.video-overlay-left{
		margin-left: 30px;
		position: relative;
	  	top: 50%;
	  	-webkit-transform: translateY(-60%);
	  	-ms-transform: translateY(-60%);
	  	transform: translateY(-60%);
	}
	h2.sub-title-top{
		font-size: 25px;
	}
	h1.sub-title-bottom{
		font-size: 30px;
	}
	.video-overlay-left-button img{
		height: 60px;
	}
	
}



